
#seta{
    margin: 15px;
}

#seta img{
    max-height: 5vh;
}

.mainPage{
    background-color: #0A0A0A;
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

#plus{
    max-height: 4%;
    margin-left: 320px;
    background-color: #FFD600;
    color: #0A0A0A;
    border-radius: 15px;
    cursor: pointer;
}

.turmas{
    border: 20px;
    border-color: black;
    border-radius: 15px;
    padding: 5px;
    width: 90%;
    display: inline-block;
    background-color: #FFD600;
    margin-bottom: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: #0A0A0A;
}

.lupa{
    max-width: 5%;
    margin-right: 10px;
}
